### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/

### Logs ###
/logs/
/solrj/logs/
/.idea/

### Tess4j ###
/tess4j/target/

### Solrj ###
/solrj/target/

### Tika ###
/solrj/tika/